@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Basic";
}
<div class="container">
    <div class="row col-md-12" style="margin-top:50px;">
        <h1>Learn How to use Incoding.Web.Grid</h1>
    </div>
</div>
